<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container d-flex justify-content-center mt-5">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem">
        <img
          src="./images/ellon-musk-profile.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Ellon Musk</h5>
          <p class="card-text">
            Elon Reeve Musk (born June 28, 1971) is a business magnate,
            industrial designer, and engineer.
          </p>
          <div class="d-flex justify-content-around">
            <a href="/about" class="btn btn-primary">About</a>
            <a href="/works" class="btn btn-success">Works</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
