<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>WORKS</title>
  </head>
  <body>
    <div class="container d-flex justify-content-center mt-5">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem">
        <img
          src="./images/ellon-musk-works.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Works</h5>
          <p class="card-text">
            He is the founder, CEO, CTO, and chief designer of SpaceX; early
            stage investor, CEO, and product architect of Tesla, Inc.; founder
            of The Boring Company; co-founder of Neuralink; and co-founder and
            initial co-chairman of OpenAI. A centibillionaire, Musk is one of
            the richest people in the world.
          </p>
          <div class="d-flex justify-content-around">
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/about" class="btn btn-success">About</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
